.body {
  background: #e5e5e5;
  font-family: "Inter", sans-serif;
  margin: 0px;
}

.container_ {
  width: 80%;
  margin: 250px auto;
}

.vista_container {
  position: absolute;
  width: 400px;
  height: 944px;
  left: 1000px;
  top: 40px;
  background: #ffffff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
}

.vista_container h2 {
  font-size: 24px;
  text-align: center;
}

.vista_container p {
  font-size: 16px;
  text-align: center;
}

#logo {
  margin-top: 40px;
  margin-left: 80px;
}

.general {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 70vh;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  width: 60%;
}
#but1 {
  padding: 24px;
  gap: 8px;
  color: #ffffff;
  border: none;
  width: 328px;
  height: 67px;
  background: #0a3871;
  border-radius: 24px;
}
#but2 {
  box-sizing: border-box;
  width: 328px;
  height: 67px;
  background: #d8dfe8;
  border: 1px solid #0a3871;
  border-radius: 24px;
  color: #0a3871;
  margin-left: 24px;
}

#but3 {
  box-sizing: border-box;
  width: 328px;
  height: 67px;
  background: #d8dfe8;
  border: 1px solid #0a3871;
  border-radius: 24px;
  color: #0a3871;
}

.input {
  position: absolute;
  width: 577px;
  height: 48px;
  left: 240px;
  top: 168px;
  border: none;
  background-color: transparent;

  font-size: 32px;
  line-height: 150%;

  color: #0a3871;
}

.input::placeholder {
  color: #0a3871;
}

.info {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  margin-left: 140px;
}

.info p {
  margin-left: 8px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  width: 100%;
  height: 80px;
  background: #0a3871;
  color: #ffffff;
}
